logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/node_modules
/.project
/.sbtserver
/RUNNING_PID
/.settings
/conf/server.conf
/project/*-shim.sbt
/project/.sbtserver*
/public/css
/public/js
/activator-sbt-atmos-akka-shim.sbt
