logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/node_modules
/.project
/.sbtserver
/RUNNING_PID
/.settings
/conf/server.conf
/project/*-shim.sbt
/project/.sbtserver*
/public/css
/public/js
/activator-sbt-atmos-akka-shim.sbt
.DS_Store
ansible/.gitignore
ansible/ansible.cfg
ansible/dist-play-app-initd
ansible/hosts
ansible/opendoors-web.yml
ansible/server.conf
ansible/setup-opendoors-web.yml
ansible/variables.yml
lib/
project/.DS_Store
