@(authors: Seq[AuthorWithWorks], appName: String, config: ArchiveConfig)

@main("AuthorsController", "authors", config) {

  @if(authors.nonEmpty) {
    @for( (author, index) <- authors.zipWithIndex) {
      <article class="col-md-12 @(if(author.author.doNotImport) "do-not-import")" id="author@author.author.ID">
        <div class="row">
          <div class="col-md-4 col-sm-3">
            <h2>@author.author.name</h2>
          </div>
          <div class="col-md-8 col-sm-9 links">

            <button class="btn btn-info author-import-button" data-author-id="@author.author.ID"
            visible="@(!author.author.doNotImport && !author.author.imported)">import all</button>

            <button class="btn btn-warning author-not-import-button" data-author-id="@author.author.ID" data-do-not-import="@author.author.doNotImport">
            @(if(author.author.doNotImport) "set all to allow import" else "set all to do NOT import")
            </button>

            <button class="btn btn-success author-check-button" data-author-id="@author.author.ID">
              check all imported
            </button>

            <br />
            <div class="clear message"></div>

          </div>
        </div>
        <hr />
        @if(author.stories.isDefined) {
          @author.stories.map { stories =>
            <h3>Stories</h3>
            @stories.sortBy(_.story.title).map { storyWithChapters =>
              @fragments.meta(author.author,
                storyWithChapters.story,
                storyWithChapters.chapters.getOrElse(List()).sortBy(_.position),
                appName)
            }
          }
        }

        @if(author.bookmarks.isDefined) {
          @author.bookmarks.map { bookmarks =>
            <h3>Bookmarks</h3>
            @bookmarks.sortBy(_.title).map { bookmark =>
              @fragments.meta(author.author, bookmark, List(), appName)
            }
          }
        }

        @if(author.stories.isEmpty && author.bookmarks.isEmpty) {
          <span>No bookmarks or stories.</span>
        }

      </article>
    }
  } else {
    <div class="bg-warning">
      <p>No authors found.</p>
    </div>
  }

  <script type='text/javascript' src='@routes.Assets.at("js/authors.min.js")'></script>

}
